.root {
  --margin: 0;

  border: none;
  border-top: solid var(--theme-separator-width) var(--theme-border-color);
  margin: var(--margin);
}

.margin {
  --margin: calc(var(--theme-spacing) * 3) 0;
}
