.root {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
  box-sizing: border-box;

  @media (600px < width < 850px) {
    width: calc(100% / 2);
  }

  @media (width >= 850px) {
    width: calc(100% / 3);
  }
}
