.root {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  width: 100%;

  @media (600px < width < 900px) {
    width: calc(100% / 2);
  }

  @media (width >= 900px) {
    width: calc(100% / 3);
  }
}
