:root {
  --theme-color-background: hsl(270deg 70% 11%);
  --theme-color-background-alt: #000;
  --theme-color-text: #{rgba(#fff, 0.75)};
  --theme-color-text-strong: #fff;
  --theme-color-border: hsla(100deg 14% 81% / 15%);
  --theme-base-font-size: 16px;
  --theme-font-family: "Arial";
  --theme-nav-height: 60px;
  --theme-content-width: 900px;
  --theme-spacing: 16px;
  --theme-background: var(--theme-color-background);
  --theme-background-alt: var(--theme-color-background-alt);
  --theme-text-color: var(--theme-color-text);
  --theme-text-color-strong: var(--theme-color-text-strong);
  --theme-border-color: var(--theme-color-border);
  --theme-separator-width: 1px;
}

::selection {
  background-color: var(--theme-text-color);
  color: var(--theme-background-alt);
}
