$bp: 900px;
$img-width: 130px;

.root {
  overflow: hidden; // hide overflow caused by image blur

  @media (width <= $bp) {
    padding: calc(var(--theme-spacing) * 6) 0;
  }

  @media (width > $bp) {
    height: 100dvh;
  }
}

.container {
  @media (width > $bp) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 30%;
    padding-bottom: var(--theme-nav-height);
  }
}

.header {
  position: relative;
  display: flex;
  padding-left: calc(var(--theme-spacing) * 2 + #{$img-width});
  margin-bottom: calc(var(--theme-spacing) * 3);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(20px);
  mix-blend-mode: overlay;
  opacity: 0.8;
}

.image {
  position: absolute;
  top: -8px;
  left: 0;
  height: 170px;
  width: $img-width;
  mix-blend-mode: lighten;
  opacity: 0.8;
  clip: rect(0px, 130px, 133px, 0px);
}

.bg,
.image {
  object-fit: cover;
}

.heading {
  padding-right: 50%;
  position: relative;
  left: -12px; // Align text with parent element limit
  margin: 0;
}

.social {
  margin-top: calc(var(--theme-spacing) * 2);
}
